beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
charset-normalizer==3.4.1
ffmpeg-python==0.2.0
future==1.0.0
idna==3.10
iniconfig==2.0.0
Markdown==3.7
packaging==24.2
peewee==3.17.9
pillow==11.1.0
pluggy==1.5.0
psycopg2-binary==2.9.10
pytest==8.3.5
requests==2.32.3
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.3.0
